/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*My Code*/
* {
  text-decoration: none;
}

body{
  background-color: #e9e7e7;
}

header{
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100px;
}

header .header-brand{
  font-family: 'Graduate';
  font-size: 32px;
  font-weight: 900;
  color: #C9545A;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;

}span{
  color:#107041;
}

header nav ul{
  font-family: 'Comfortaa';
  display: block;
  margin: 0 auto;
  width: fit-content;
}
header nav ul li{
  display: inline-block;
  float: left;
  list-style: none;
  padding: 0 10px;
}

header nav ul li a{
  font-size: 18px;
  color: #111;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
}
header nav ul li a:hover{
  background-size: 100% 2px;
}
/*Index*/
.index-banner{
  width: 100%;
  height: calc(100vh  - 100px);
  background-image: url('img/apartment-cabinet-contemporary-1027508.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display:table;
}
.vertical-center{
  display:table-cell; 
  vertical-align: middle;
}
.index-banner h2{
  font-family: 'Calligraffitti';
  font-size: 70px;
  font-weight: 900;
  line-height: 90px;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 4px #111;
}

.index-banner h1{
  font-family: 'Calligraffitti';
  font-size: 30px;
  font-weight: 900;
  color: #fff;
  line-height: 10px;
  text-align: center;
  text-shadow: 3px 3px 4px #111;
}

/*IMAGES GRID*/
.xop-section {
	max-width: 100%;
  margin: 0 auto;

}

.xop-grid {
	margin: 5px 0 0 0;
	padding: 0px;
	list-style: none;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
  text-align: center;
	width: 100%;
}
.xop-box .xop-info {
  display:block ;
  width: 100%;
  height: 100%;
  opacity: 1;
}


@media (max-width:1635px){
  .xop-grid{
    grid-template-columns: repeat(auto-fit,minmax(650px,1fr));
  }
  .xop-box .xop-info {
    display:block ;
    width: 100%;
    height: 100%;
    opacity: 1;
  }
}

@media (max-width:1315px){
  .xop-grid{
    grid-template-columns: repeat(auto-fit,minmax(30em,1fr));
  }
  .xop-box .xop-info {
    display:block ;
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  .xop-box{
    -webkit-filter: brightness(105%);
  }

}
@media (max-width:450px){
  .xop-grid{
    grid-template-columns: repeat(auto-fit,minmax(20em,1fr));
  }

  .xop-box .xop-info {
    display:block ;
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  .xop-box{
    -webkit-filter: brightness(105%);
  }

}

.xop-grid:after {
	clear: both;
}

.xop-grid:after, .xop-box:before {
	content: '';
	display: table;
}

.xop-grid li {
	width: auto;
	height: 33vh;
	display: inline-block;
}

.xop-box {
  display: flex;
  justify-content: center;
	width: 100%;
	height: 100%;
  position: relative;
  cursor: pointer;

}


.xop-box:hover .xop-info{
  opacity: 1;
  display: block;
}

@media (min-width:1600px){
  .xop-box:hover{
    -webkit-filter: brightness(105%);
  }
  .xop-box{
    -webkit-filter: brightness(70%);
    -webkit-transition: 0.3s ease-in-out, 
    -webkit-transform 0.3s ease-in-out;
	-moz-transition:  0.3s ease-in-out, 
    -moz-transform 0.3s ease-in-out;
    transition: all 0.3s ease-in-out, 
    transform 0.3s ease-in-out; 
  }
}

.xop-img-1 {
	background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.0)), /* bottom, image */
  url(../img/img-box-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.xop-img-2 {
	background: linear-gradient( rgba(48, 41, 41, 0.5), rgba(0, 0, 0, 0.10)), /* bottom, image */
  url(../img/img-box-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.xop-img-3 {
	background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)), /* bottom, image */
  url(../img/img-box-3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.xop-img-4 {
	background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)), /* bottom, image */
  url(../img/img-box-4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.xop-info {
  display:block ;
  width: 100%;
  height: 100%;
  display: none; 
}

.xop-info h3 {
	font-family: 'Pacifico', cursive;
  font-weight: 400;
  text-align: center;
  color: #fff;
	font-size: 70px;
	margin: 0 30px;
	padding: 100px 0 0 0;
  line-height: 1.5;
  text-shadow: 2px 2px 4px #111;

}

.xop-info p {
	font-family: 'Source Sans Pro', sans-serif;
	color: #fff;
	padding: 4px 5px;
  margin: 0 30px;
  text-align: center;
  vertical-align: baseline;
	font-size: 14px;
  line-height: 2;
}
/*Footer*/
footer{
  width:calc(100% - 40px);
  padding: 20px 20px;
  background-color: #111;
  overflow: hidden;
}

footer ul li a:hover{
  color: #cccccc;
}
.fa::before{
  font-size: 3em;
}
.fa{
  color: #fff;
  padding: 10px;
}
.fa:hover{
  color:#cccccc;
}

footer ul li{
  display: inline;
  margin-right: 20px;
}

footer ul li a{
 font-family:'Comfortaa';
 font-size:  20px;
 color: #fff;
 line-height: 25px;
}

.footer-links-main{
  display: block;
  text-align: center;
}

.footer-links-main .footer-sm{
 display: block;
 float: right;
}


.footer-sm img{
  padding: 5px;
  width: 40px;
}


/*grid*/
.grid{
  width: 100%;
  height: auto;
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(auto-fit,minmax(25em,1fr));  
}
 
.grid-item{
  background-color: #cccccc;
}


#section05 a {
  padding-top: 70px;
}
#section05 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
#section05{
  scroll-behavior: smooth;
  overflow-y: scroll;
}
.demo a {
  position: absolute;
  bottom: 0px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}
section {
  position: center;
  width: 100%;
  height: 100%;
}
section::after > #section05 {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 80%;
  background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.2) 80%,rgba(0,0,0,.2) 100%);
}